{% extends 'shared/_MainLayout.html' %}
{% load render_partial %}
{% load static %}
{% block header_ref %}

    <style>
        .product-img {
            width: 268px;
            height: 250px;
            object-fit: cover;
            border-radius: 8px;
            display: block;
            margin: 0 auto;
        }
    </style>

{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">

                <div class="col-sm-9 padding-right">
                    <div class="features_items"><!--features_items-->
                        <h2 class="title text-center">لیست محصولات</h2>


                        {% if object_list %}
                            {% for product in object_list %}
                                {% include 'product/product_item_component.html' with product=product %}
                            {% endfor %}

                        {% else %}
                            <p>محصولی با این مشخصات یافت نشد</p>

                        {% endif %}
                        <div class="clearfix"></div>

                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}">قبلی</a></li>
                            {% endif %}

                            {% for page in paginator.page_range %}
                                {% if page == page_obj.number %}
                                    <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
                                {% else %}
                                    <li><a href="?page={{ page }}">{{ page }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}">بعدی</a></li>
                            {% endif %}
                        </ul>
                    </div><!--features_items-->
                </div>

                <div class="col-sm-3">
                    <div class="left-sidebar">

                        {% render_partial 'products_categories_partial' %}

                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}

